body{
  margin: 0;
  font-family: serif;
}

header{
  background-color: white;
  margin-bottom: -20px;
  /* headerとcenterの間の空白をなくす */
  width: 100%;
  height: 40px;
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  display:flex;
}
header h1{
  margin-top: -5px;
  cursor: pointer;
}

.header__nav {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  transition: ease .4s;
  transform: translateX(100%); 
}

.header__nav a {
  text-decoration: none;
}

.header__nav ul,li {
  list-style: none;
}


@media screen and (min-width: 960px) {
  .header__nav {
    position: static;
    transform: initial;
    background-color: inherit;
    height: inherit;
    display: flex;
    justify-content: end;
    width: 50%;
  }
}


@media screen and (min-width: 960px) {
  .nav__items {
    width: 100%;
    display: flex;
    align-items: center;
    height: initial;
    justify-content: space-between;
  }
}

.nav-items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
}


@media screen and (min-width: 960px) {
  .nav-items {
    padding-top: inherit;
    padding-bottom: inherit;
    position: inherit;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
}

.nav-items__item a {
  color: black;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 20px;
  margin-bottom: 24px;
}

.nav-items__item:last-child a {
  margin-bottom: 0;
}

@media screen and (min-width: 960px) {
  .nav-items__item a {
    margin-bottom: 0;
  }
}


/* ハンバーガーメニュー */
.header__hamburger {
  width: 48px;
  height: 100%;
  float:right;

}

.hamburger {
  background-color: transparent;
  border-color: transparent;
  z-index: 9999;
}

@media screen and (min-width: 960px) {
  .hamburger {
    display: none;
  }
}


.hamburger span {
  width: 100%;
  height: 1px;
  background-color: #000;
  position: relative;
  transition: ease .4s;
  display: block;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  margin: 8px 0;
}

.hamburger span:nth-child(3) {
  top: 0;
}


/* ハンバーガーメニュークリック後のスタイル */
.header__nav .active {
  transform: translateX(0);
}

.hamburger .active span:nth-child(1) {
  top: 5px;
  transform: rotate(45deg);
}

.hamburger .active span:nth-child(2) {
  opacity: 0;

}

.hamburger .active span:nth-child(3) {
  top: -13px;
  transform: rotate(-45deg);
} 

.title{
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding-top: 70px;
}
.center ul{
  padding-bottom: 20px;
}

.center{
  background-color: #d2b48c;
}

.center img{
  width: 100%;
  border-radius: 5%;
}

.slides{
  margin-left: -40px;
}

.index-btn-wrapper {
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.index-btn {
  display: inline-block;
  color:rgb(241, 237, 237);
  background-color: rgb(231, 225, 225);
  width: 17px;
  height: 5px;
  padding: 6px 0;
  margin: 0 5px;
  border-radius: 100%;
  cursor: pointer;
}

.slide{
  display: none;
}

.active{
  display: block;
}


.top{
  font-size: 23px;
  text-align: center;
  padding-top:30px;
  font-family: Verdana;
}
.center p{
  font-size: 16px;
  padding: 20px 20px;
}
.attention{
  font-size: 18px;
}

footer p{
  text-align: center;
}
